.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  background-color: aliceblue;
}


.restaurant-container {
  width: 100%;
}

.holdLogo {
  width: 100%; 
  margin-top: 20px;
}

.makeBlack {
  background-color: aliceblue;
}

.holdCourse {
  width: 100%;
  border-top: solid 2px black;
  height: 80px;
  border-bottom: solid 2px black;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

@media (width: 760px) {
  .holdCourse {
    flex-wrap: nowrap;
  }
}

.holdMeals {
  width: 100%;
  margin-top: 50px;
  height: 80vh;
  flex-direction: column;
  display: flex; 
  flex-wrap: wrap; 
  overflow: hidden;
  /* padding: 0 10px; */
}

.title {
  color: #000;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imageLogo {
  width: 200px; 
  height: 108px; 
  margin-top: 0px;
}

.courseText {
  color: #CFCFCF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.alignCenter {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.menuTitle {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.price {
  color: #24BAEA;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.descriptionTextStyle {
  color: #BCBABA;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.holdBottom {
  display: flex;
  justify-content: space-between;
}

.holdBottomText {
  color: #000;
  font-size: 20px;
}

.overflow-wrap-break-word {
  overflow-wrap: break-word;
}